# API Gateway
API_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/prod

# S3 Bucket (deploy)
S3_BUCKET=danlunaphoto-site

# CloudFront Distribution
CLOUDFRONT_DISTRIBUTION_ID=XXXXXXXXXXXXXX

# AWS Region
AWS_REGION=us-east-1

# AWS Profile
AWS_PROFILE=danluna
